<div class="container-fluid">
  <div class="chess">
    <ngx-chess-board
      #board
      [lightTileColor]="lightTileColor"
      (moveChange)="moveCallback($event)"
      [dragDisabled]="dragDisabled"
      [drawDisabled]="drawDisabled"
      [darkTileColor]="darkTileColor"
      [lightDisabled]="lightDisabled"
      [darkDisabled]="darkDisabled"
      [freeMode]="freeMode"
    ></ngx-chess-board>
  </div>

  <div class="row justify-content-center">
    <button class="btn btn-primary" (click)="onCreateGameClicked()">
      Create new game
    </button>
    <div class="col">
      <div>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="gameCode"
          placeholder="Enter game code"
        />
        <button class="btn btn-success" (click)="onJoinGameClicked()">
          Join game
        </button>
      </div>
    </div>
  </div>
</div>
